<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.the.raise.dao.RaiseBetMapper" >
  <resultMap id="BaseResultMap" type="com.the.raise.model.RaiseBet" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="bperiodsid" property="bperiodsid" jdbcType="INTEGER" />
    <result column="buserid" property="buserid" jdbcType="VARCHAR" />
    <result column="bprovince" property="bprovince" jdbcType="VARCHAR" />
    <result column="bcity" property="bcity" jdbcType="VARCHAR" />
    <result column="prizeNumber" property="prizenumber" jdbcType="INTEGER" />
    <result column="goldNumber" property="goldnumber" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="betId" property="betid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    bid, bperiodsid, buserid, bprovince, bcity, prizeNumber, goldNumber, state, date,
    betId
  </sql>
  <select id="queryThisBetNumber" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    count(*)
    from raise_bet
    where bperiodsid = #{pserial,jdbcType=INTEGER}
    and buserid =  #{userid,jdbcType=VARCHAR}
  </select>

  <select id="queryMyThisRaiseBetList" resultMap="BaseResultMap" parameterType="com.the.raise.model.RaiseBet" >
    select
    <include refid="Base_Column_List" />
    from raise_bet
    where buserid = #{buserid,jdbcType=VARCHAR}
    and bperiodsid = #{bperiodsid,jdbcType=INTEGER}
  </select>

  <select id="queryMyThisRaiseBetListByBperiodsid" resultMap="BaseResultMap" parameterType="com.the.raise.model.RaiseBet" >
    select
    <include refid="Base_Column_List" />
    from raise_bet
    where state = #{state,jdbcType=VARCHAR}
    and bperiodsid = #{bperiodsid,jdbcType=INTEGER}
  </select>



  <insert id="insertBet" parameterType="com.the.raise.model.RaiseBet" >
    insert into raise_bet (bperiodsid, buserid,
      bprovince, bcity, prizeNumber,
      goldNumber, state, date,
      betId)
    values (#{bperiodsid,jdbcType=INTEGER}, #{buserid,jdbcType=VARCHAR},
      #{bprovince,jdbcType=VARCHAR}, #{bcity,jdbcType=VARCHAR}, #{prizenumber,jdbcType=INTEGER},
      #{goldnumber,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP},
      #{betid,jdbcType=INTEGER})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.the.raise.model.RaiseBet" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update raise_bet
    set bperiodsid = #{bperiodsid,jdbcType=INTEGER},
      buserid = #{buserid,jdbcType=VARCHAR},
      bprovince = #{bprovince,jdbcType=VARCHAR},
      bcity = #{bcity,jdbcType=VARCHAR},
      prizeNumber = #{prizenumber,jdbcType=INTEGER},
      goldNumber = #{goldnumber,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      betId = #{betid,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>