<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>天际众筹</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/form-elements.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/node_modules/element-ui/lib/theme-chalk/index.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>天际众筹</strong> Login Form</h1>
                            <div class="description">
                            	<p>
	                            	Welcome to our crowdfunding website.
	                            	We will provide you with wholeheartedly service!
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>登录我们的网站</h3>
                            		<p>输入您的手机号和密码登录：</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <div id="form" class="login-form">
			                    	<div class="form-group">
			                        	<input type="text" v-model="formName"placeholder="Phone..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<input type="password" v-model="formPassword" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>
			                        <button type="button" @click="login" class="btn">登 入</button>
                                    <a href="/Login/toRegister"><button type="button" class="btn1">注 册</button></a>
			                    </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.backstretch.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        <script src="/node_modules/vue/dist/vue.js"></script>
        <script src="/node_modules/element-ui/lib/index.js"></script>
        <script src="/node_modules/axios/dist/axios.min.js"></script>
        <script>
            let ve = new Vue({
                "el" : "#form",
                data :{
                    formName:null,
                    formPassword:null
                },methods: {
                    login(){
                        axios({
                            method: 'post',
                            url: '/Login/Login',
                            data: {
                                Phone: this.formName,
                                Password: this.formPassword
                            }
                        }).then(res => {
                            if(res.data.error != null){
                                this.$message.error(res.data.error);
                            }else{
                                this.$message.success("登陆成功，尊敬的用户"+ res.data.user.name +" ,欢迎您！")
                                setTimeout(function(){
                                    if(res.data.user.identity==0 || res.data.user.identity==1){
                                        window.location.href="/Login/toIndex";
                                    }else{
                                        window.location.href="/Login/toAdmin";
                                    }

                                },3000)
                            }
                        });
                    }
                }
            });
        </script>
        
        <!--[if lt IE 10]>
        <script src="/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>